<mat-toolbar>
  <div class="container">
    <a style="cursor: pointer;" (click)="dashboard()">
      <span class="cfe-logo">CFE</span>
      <span class='ind-logo'>India</span>
    </a>
    <!-- <span class="cfe-logo">CFE</span>
    <span class='ind-logo'>India</span> -->
    <span class="example-fill-remaining-space"></span>
    <span (click)='logout()' style="float: right;cursor: pointer;">
      <i class="fa fa-power-off">
        <span style="padding-left:6px">Logout</span>
      </i>
    </span>
  </div>
</mat-toolbar>