.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
 mat-toolbar{
    /* -webkit-box-shadow: 0 8px 6px -6px #999; */
    /* -moz-box-shadow: 0 8px 6px -6px #999; */
    box-shadow: 0 4px 5px -5px #999;
    /* box-shadow:    0 1px 1px 0px #999; */
    margin-top:0;
    margin-left: 0;
    background-color: white;
    /* position:fixed; */
 } 
 .cfe-logo{
    color:rgb(232, 48, 48);font-size: 22px;
 }
 .ind-logo{
    font-size:22px;
    padding-left: 0.5%;
 }

 .example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 200px;
}
