/* 
 html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
  }
  .demo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
  .demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
  }
  .mdl-layout__drawer .avatar {
    margin-bottom: 16px;
  }
  .demo-drawer {
    border: none;
  }
  .demo-drawer .mdl-menu__container {
    z-index: 4;
  }
  .demo-drawer .demo-navigation {
    z-index: 4;
  }
  .demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .demo-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 16px;
    height: 151px;
  }
  .demo-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  
  .demo-navigation {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .demo-layout .demo-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
  }
  .demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
  }
  .demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
  }
  
  .demo-content {
    max-width: 1080px;
  }
  
  .demo-charts {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .demo-chart:nth-child(1) {
    color: #ACEC00;
  }
  .demo-chart:nth-child(2) {
    color: #00BBD6;
  }
  .demo-chart:nth-child(3) {
    color: #BA65C9;
  }
  .demo-chart:nth-child(4) {
    color: #EF3C79;
  }
  .demo-graphs {
    padding: 16px 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  
  _:-ms-input-placeholder, :root .demo-graphs {
    min-height: 664px;
  }
  _:-ms-input-placeholder, :root .demo-graph {
    max-height: 300px;
  }
  .demo-graph:nth-child(1) {
    color: #00b9d8;
  }
  .demo-graph:nth-child(2) {
    color: #d9006e;
  }
  
  .demo-cards {
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  .demo-cards .demo-separator {
    height: 32px;
  }
  .demo-cards .mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
  }
  .demo-cards ul {
    padding: 0;
  }
  .demo-cards h3 {
    font-size: 1em;
  }
  .demo-updates .mdl-card__title {
    min-height: 200px;
    background-position: 90% 100%;
    background-repeat: no-repeat;
  }
  .demo-cards .mdl-card__actions a {
    color: #00BCD4;
    text-decoration: none;
  }
  
  .demo-options h3 {
    margin: 0;
  }
  .demo-options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
  }
  .demo-options ul {
    margin: 0;
    list-style-type: none;
  }
  .demo-options li {
    margin: 4px 0;
  }
  .demo-options .material-icons {
    color: rgba(255, 255, 255, 0.89);
  }
  .demo-options .mdl-card__actions {
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
  }
  table{
    margin-top:2%;
  }

  .scroll{
    height: 500px;
    overflow-y: scroll;
  }

  .page-break {
    page-break-after: always;
    page-break-inside: avoid;
    clear:both;
  }
  .page-break-before {
    page-break-before: always;
    page-break-inside: avoid;
    clear:both;
  }
  #html-2-pdfwrapper{
    top: 50px; 
    bottom: 0; 
    overflow: auto; 
  }


  input[type=checkbox] {
    display: none;
  }

  .myCheckbox input {
    z-index: -9999;
}

.myCheckbox span {
    width: 15px;
    height: 15px;
    border-radius: 4px;
    display: block;
    background:#cfd8dc;
}

.myCheckbox input:checked + span {
    background: #37474f;
}

.myCheck span {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  display: block;
  background:#cfd8dc;
}


.myCheck input:checked + span {
  background: #37474f;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

button.btn.mdl-color--blue-grey-800{
  margin-top: 0px;
}


body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #37474f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidenav a {
  padding: 16px;
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.56);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #37474F;
  background-color: #00BBD6;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}



div#mySidenav{
  background-color: #37474F;
  
}

.sidenav i{
  padding-right: 50px;
}

input{
  transition: width 0.4s ease-in-out;
}

input.transparent-input{
  background-color:rgba(0,0,0,0) !important;
  border:none;
  border-bottom: 1px solid #555;
}

input:focus{
  outline: none;
}

.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header{
  min-width: 100%;
  min-width: stretch; 
}




.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header{
  min-height: stretch;
}

#search
{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    max-width: 120px;
    margin-left: 20%;
    
}

.movequestion{
  background-color: #c9d3d8;
  border-color: #c9d3d8;
  margin-left:30%;
}


#logout{
  font-size: 150%;
}

#textsize{
  font-size:90%;
}

.countdisplay{
  margin-top:25%;
  background-color: #37474f;
  border-radius: 50px;
  min-width: 40%;

}


.flip-container {
  margin-top: 30%;
  perspective: 1000;
  display: inline-block;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.card, .front, .back {
  min-width: 200px;
}
.card {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
}
.front {
  z-index: 1;
  transform: rotateY(180deg);
}
.back {
  z-index: 2; 
  transform: rotateY(0deg);
}

#noQuestions{
  padding-top: 100px;
  font-size: 50px;
  text-align: center;
}

table p{
  font-size: 50px;
}



.style{
  background-color: transparent!important;
  border: none!important;
}

.back{
  background-color: rgba(0, 0, 0, 0.418);
  left: 0;
  bottom: 0;
  right: 0;
  top:0;
  position: fixed;
  z-index: 5;  
}

#test-detail{
  left: 25%;
  top: 5%;
}

#convertToPDF{
  display: block;
}

.pop{
  top: 25%;
  height: 150px;
  width:350px;
  right: 50%;
  margin-right: -200px;
  background-color: #37474F;
  z-index: 2;
  position: fixed;
  align-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px lightgray;
  border: 0.5px solid white;
}

.sentence{
  color: white;
  font-size: 20px;
  margin-top: 8%;
  margin-right: 16%;
  text-shadow: 1px 1px black;
}

@media (min-width:1400px){
  .container{
    width: 1350px;
  }
} */
  

/* New CSS */


body{
  background-color: rgb(130, 202, 252) ;
}
.title-margin{
  margin-left: 0;
  padding-left: 0;
  color:rgb(232, 48, 48);
  font-size: 18px;

}
.example-card{
  margin-top:1%;
  background-color: white;
  padding-top: 6px;
  padding-top: 6px;
}
.txt-content{
  font-size: 14px;
  color: grey;
}
.btn-outline-primary{
  float: right;
  color: rgb(130, 202, 252);
  border-color: #50b5fb;
  padding: 7px 40px;

}
.btn-outline-primary:hover{
  color: white;
  /* background-color: rgb(130, 202, 252); */
  background-color:rgb(80, 181, 251);
  padding: 7px 40px;

}
.new-test-btn{
  background-color: #2db2ff;
  color:white;
  border-radius: 4px;
  padding: 7px 35px;
  /* float: right; */
  display: block;
  font-size: 14px;
  margin-top:1%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;  
}

.mat-table.make-scrollable {
  height: 360px;
  overflow-y: scroll;
} 
mat-card.list-header{
  background: white;
  margin-top:4%;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  /* height: 60px; */
}

.stylish-input-group .input-group-addon{
  background: white !important; 
  border-color: grey;
}
.stylish-input-group .form-control{
/* border-right:0;  */
box-shadow:0 0 0; 
  border-color:#ccc;
  margin-top:2%;
  border-radius: 5px;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}


body {
height: 100%;
margin: 0;
background: #363636;
display: -webkit-flex;
display: flex;
align-items: center;
}

.boxes {
margin: auto;
padding: 50px;
background: #484848;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 20px;
font: 14px/20px 'Open Sans', Arial, sans-serif;
color: #ddd;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
content: '';
display: block;
width: 18px;
height: 15px;
border: 1px solid #6cc0e5;
position: absolute;
left: 0;
top: 0;
opacity: .6;
-webkit-transition: all .12s, border-color .08s;
transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
width: 10px;
top: -5px;
left: 5px;
border-radius: 0;
opacity: 1;
border-top-color: transparent;
border-left-color: transparent;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}
.fa-quora{
color: rgb(232, 48, 48) ;
}
.fas{
  font-weight:initial;
}
.myCheckbox input {
  /* // display: none;
  // Better than display: none for accessibility reasons */
  /* position: relative; */
  z-index: -9999;
}

.myCheckbox span {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  display: block;
  background:#cfd8dc;
}

.myCheckbox input:checked + span {
  background: #2db2ff;

}  

.page-link{
  color: #2db2ff;
  background-color: #fff;
}

.page-link:hover{
  background-color: #2db2ff;
  color: #fff;
}


.scroll{
  height: 460px;
  overflow-y: scroll;
  background-color: #fff;  
}

@media (min-width: 1400px){

  .container {
      max-width: 1300px;
  }
}
mat-card{
  padding: 15px;
}
mat-card.list-header{
  border-bottom: 2px solid rgba(0,0,0,.1);
}

.movequestion{
  color: #c9d3d8;
  margin-top: 30px;
  margin-left:30%;
  font-size:40px;
  cursor: pointer;
}

.activemovequestion{
  color: #2db2ff;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background-color: #2db2ff;
  border-color: #2db2ff;
  color:#fff;
}

.page-item:hover{
  color: #fff;  
}

.list-header{
  font-size: 20px;
  /* font-weight: bold; */
  color:rgb(232, 48, 48);
  
}
input {
  outline: none;
  height: 15px;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	/* font-size: 100%; */
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}



input[type=search] {
	background: url("/assets/searchicon.png") no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #2db2ff;;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
  cursor: pointer;
  height:13px;  
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 100px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
  cursor: auto;
  height:13px;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}

#questionTypeList{
  list-style: none;
  list-style-type: none;
  padding: 0;
}

#questionTypeList li{
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

#questionTypeList li:hover{
  background-color: #2db2ff;
  color: #fff;
}

#questionTypeList a{
  cursor: pointer;
}





/* header component styles*/
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
mat-toolbar{
  /* -webkit-box-shadow: 0 8px 6px -6px #999; */
  /* -moz-box-shadow: 0 8px 6px -6px #999; */
  box-shadow: 0 4px 5px -5px #999;
  /* box-shadow:    0 1px 1px 0px #999; */
  margin-top:0;
  margin-left: 0;
  background-color: white;
  /* position:fixed; */
} 
.cfe-logo{
  color:rgb(232, 48, 48);font-size: 22px;
}
.ind-logo{
  font-size:22px;
  padding-left: 0.5%;
}

.example-container {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
}