<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop',-1)">
  <mat-sidenav style="width: 200px;background-color: #f6f9fc" #sidenav (keydown.escape)="close('escape',-1)" >
      <mat-toolbar>
          <h4>Question Types</h4>
      </mat-toolbar>
      <!-- <div class="container" > -->
          
          <ul id="questionTypeList">
              <li *ngFor="let questionType of questionTypes;let i=index" (click)="close('toggle button',i)" >{{questionType}}</li>
          </ul>
      <!-- </div> -->
  </mat-sidenav>

  <mat-sidenav-content>
<mat-toolbar>
    <a (click)="sidenav.open()"><i class="fa fa-bars"></i></a>
      <div class="container">
            <a style="cursor: pointer;" (click)="dashboard()">
                <span class="cfe-logo">CFE</span>
                <span class='ind-logo'>India</span>
            </a>
            <span class="example-fill-remaining-space"></span>
            <span (click)='logout()' style="float: right;cursor: pointer;"><i class="fa fa-power-off"><span style="padding-left:6px">Logout</span></i></span>
         </div>
    </mat-toolbar>
<!-- <ng-flash-message></ng-flash-message> -->

<!-- <div (click)="closeTestDetails($event)"> -->
<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="500" [direction]="'leftToRightIncreased'"
    [color]="'#bf3c44'" [trickleSpeed]="500" [thick]="false" [ease]="'linear'" [showSpinner]="false"></ng-progress>
<!-- <div style="overflow: auto" class="back" *ngIf="questionService.show">
        <app-test-detail id="test-detail"></app-test-detail>
    </div> -->
<!-- <div (click)="navclose($event)" class="demo-layout mdl-layout mdl-js-layout  mdl-layout--fixed-header">

        <header class="demo-header mdl-layout__header mdl-color--grey-200 mdl-color-text--grey-600">
            <div aria-expanded="true" role="button" tabindex="0" class="mdl-layout__drawer-button navabc">
                <a (click)="navClick()">
                    <i class="material-icons"></i>
                </a>
            </div>
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title" style="font-size: 30px;">
                    <b>Question Bank</b>
                </span>
                <div class="mdl-layout-spacer">
                </div>
                <a (click)="logout()">
                    <i id="logout" title="Logout" class="fa fa-power-off"></i>
                    <span id="textsize"> Logout</span>
                </a>
            </div>
        </header>


        <div [@abc]="state" id="mySidenav" class=" sidenav navabc ">
            <a class="nav-list mdl-navigation__link" (click)="MCQQuestions()">Multiple Choice</a>
            <a class="nav-list mdl-navigation__link" (click)="ImageQuestions()">Image Questions</a>
        </div>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="container">
                <div class="card" style="margin-top:1%;padding: 5px 20px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <strong style="font-size: 20px; text-shadow: 2px 2px lightgray;">TEST DETAILS</strong>
                            </div>
                            <div class="col-sm-4">
                                <p>
                                    <a class="card-text" (click)="editTestDetails()" style="float: right;font-size:110%; margin-top: 8px">
                                        <i class="fa fa-pencil-alt"></i> Edit</a>
                                </p>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5">
                                <p class="card-title">
                                    <strong>Test Name:</strong>
                                    <input class="style" type="text" na me="testName" [(ngModel)]="testName" [readonly]="isReadonly" value={{testName}}>
                                </p>
                                <p class="card-title">
                                    <strong>Organisation Name:</strong>
                                    <input class="style" type="text" name="oName" [(ngModel)]="oName" [readonly]="isReadonly" value={{oName}}>
                                </p>
                                <p class="card-title">
                                    <strong>Academic Year:</strong>
                                    <input class="style" type="text" name="acaYear" [(ngModel)]="acaYear" [readonly]="isReadonly" value={{acaYear}}>
                                </p>

                            </div>
                            <div class="col-sm-4" style="border-left: 1px solid rgb(148, 142, 142)">
                                <p class="card-title">
                                    <strong>Subject:</strong>
                                    <input class="style" type="text" name="subject" [(ngModel)]="subject" [readonly]="isReadonly" value={{subject}}>
                                </p>
                                <p class="card-title">
                                    <strong>Class:</strong>
                                    <input class="style" type="text" name="studentClass" [(ngModel)]="studentClass" [readonly]="isReadonly" value={{studentClass}}>
                                </p>

                            </div>
                            <div class="col-sm-3" style="border-left: 1px solid rgb(148, 142, 142)">
                                <p class="card-title">
                                    <strong>Time:</strong>
                                    <input class="style" type="text" name="examTime" [(ngModel)]="examTime" [readonly]="isReadonly" value={{examTime}}>
                                </p>
                                <p class="card-title">
                                    <strong>Marks:</strong>
                                    <input class="style" type="text" name="totalMarks" [(ngModel)]="totalMarks" [readonly]="isReadonly" value={{totalMarks}}>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-sm-5">
                        <div class="scroll" droppable [dropScope]="'selectedQuestions'" (onDrop)="onItemReturn($event)">

                            <table class="table" style="padding-left:5%; ">
                                <thead class="blue-grey lighten-4">
                                    <tr>
                                        <th>
                                                <label id="selectAllCheckbox" class="myCheckbox">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                
                                            </th>
                                            <th>

                                        </th>
                                        <th style="font-size:150%">{{subject}} Questions ({{unselectedQuestionCount}})
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="height:20px;padding-left: 50px;">
                                                <div id="abcd">
                                                    <input type="text" id="search" (keyup)="searchQuestion()" name="search" [(ngModel)]="search">
                                                </div>
                                                <label class="mdl-button mdl-js-button mdl-button--icon" for="search" style="float: right">
                                                    <i class="material-icons" style="font-size:70%">search</i>
                                                </label>
                                            </div>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="searchArray.length == 0">
                                        <td id="noQuestions" rowspan="10" colspan="2">No Result Found</td>
                                    </tr>
                                    <tr class="myCheckbox" *ngFor="let question of searchArray;let i = index">
                                        <td>
                                            <label class="myCheckbox">
                                                <input (change)="selectedQuestion(i)" [checked]="question.checked" id="{{i}}" type="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td style="font-size:90%">
                                            <label>{{unSelectedArrayQuestionIndex+i}}.</label>
                                        </td>
                                        <td animated bounceOutRight draggable [dragScope]="'unselectedQuestions'" [dragData]="{ques:question,index:i}" style="font-size:90%">
                                            <label *ngIf="question.ques_type === 'mcq'" for="{{i}}">{{question.text}}</label>
                                            <div *ngIf="question.ques_type !== 'mcq'" [innerHTML]=question.text>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                        </div>

                    </div>

                    <div class="col-sm-2">
                        <div class="row">
                            <div class="flip-container col-sm-6">
                                <div class="card">
                                    <div class="front">
                                        <button class="btn countdisplay ">
                                            Unsel
                                        </button>
                                    </div>
                                    <div class="back">
                                        <button class="btn countdisplay ">
                                            {{unselectedQuestionCount}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flip-container col-sm-6">
                                <div class="card">
                                    <div class="front">
                                        <button class="btn countdisplay ">
                                            Sel
                                        </button>
                                    </div>
                                    <div class="back">
                                        <button class="btn countdisplay ">
                                            {{selectedQuestionCount}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button [ngClass]="{'activemovequestion':addButtonFlag}" class="btn movequestion" (click)="selected()" style="margin-top:60%;">
                                -------
                            </button>

                            <br>

                            <button [ngClass]="{'activemovequestion':removeButtonFlag}" class="btn movequestion" (click)="remove()" style="margin-top:10%;">
                                ------- </button>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="scroll" droppable [dropScope]="'unselectedQuestions'" (onDrop)="onItemDrop($event)">

                            <table class="table" style="margin-right:2%">
                                <thead class="blue-grey lighten-4">
                                    <tr style="height:60px;">
                                        <th></th>
                                        <th></th>
                                        <th style="font-size:150%">Selected Questions ({{selectedQuestionCount}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="myCheckbox" *ngFor="let question of selectedQuestions;let i = index">
                                        <td>
                                            <label class="myCheckbox">
                                                <input (change)="deselectQuestion(i)" class="form-check-input" id="select{{i}}" [checked]="question.checked" type="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td style="font-size:90%">
                                            <label>{{i+1}}.</label>
                                        </td>
                                        <td draggable [dragScope]="'selectedQuestions'" [dragData]="{ques:question,index:i}" style="font-size:90%">
                                            <label *ngIf="question.ques_type === 'mcq'" for="select{{i}}">{{question.text}}</label>
                                            <div *ngIf="question.ques_type !== 'mcq'" [innerHTML]=question.text>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div>
                            <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous" [ngClass]="{disabled:pageNo == 1}" id="example_previous">
                                        <a style="cursor:pointer" (click)="onPrev()" aria-controls="example" data-dt-idx="0" tabindex="0">Previous</a>
                                    </li>
                                    <li *ngFor="let element of dummyArray;let i = index" class="paginate_button" [ngClass]="{active: pageNo == element}">
                                        <a style="cursor:pointer" (click)="onPageno(element)" aria-controls="example" data-dt-idx="element" tabindex="0">{{element}}</a>
                                    </li>

                                    <li class="paginate_button next" id="example_next" [ngClass]="{disabled:pageNo >= totalPages}">
                                        <a style="cursor:pointer" (click)="onNext()" aria-controls="example" data-dt-idx="7" tabindex="0">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-5">
                        <button id="convertToPDF" class="btn mdl-color--blue-grey-800" (click)="convertToPdf()" style="margin: 20px auto">convert to pdf</button>
                    </div>
                </div>
            </div>
        </main>
    </div> -->
<!-- <div class="pop" *ngIf="show">
        <div class="container">
            <div class="col-sm-4">
                <div class="row">
                    <div class="sentence">Are you sure you want to exit?</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn-lg" style="background-color: white;" (click)="onYes()">
                            <strong style="font-size: 15px; color: rgb(46, 43, 43)">Yes</strong>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-lg" style="background-color: white;" (click)="onNo()">
                            <strong style="font-size: 15px; color: rgb(46, 43, 43)">Cancel</strong>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <br>

        </div>
    </div> -->
<!-- </div> -->
<div class="container">
    <mat-card class="example-card">
        <div class="row">
            <div class="col-sm-3">
                <mat-card-title class="title-margin" style="padding-top:10px;margin-bottom:0">TEST DETAILS</mat-card-title>
            </div>
            <div class="offset-sm-6 col-sm-3">
                <!-- <button class="new-test-btn"><i class="far fa-edit"></i>  Edit</button> -->
                <button type="button" (click)="editTestDetails()" class="btn btn-outline-primary">
                    <i class="fa fa-pencil-alt" aria-hidden="true"></i> EDIT</button>
            </div>
        </div>
        <hr style="margin-top:6px">
        <mat-card-content>
            <div class="row">
                <div class="col-sm-4">
                    <h6 class="txt-content card-content">
                        <b>TestName : </b>{{testName}}</h6>
                    <h6 class="txt-content card-content">
                        <b>Organisation : </b>{{oName}}</h6>
                    <h6 class="txt-content card-content">
                        <b>Acadmeic Year : </b>{{acaYear}}</h6>
                </div>
                <div class="col-sm-4" style="border-left: 1px solid">
                    <h6 class="txt-content card-content">
                        <b>Class : </b>{{studentClass}}</h6>
                    <h6 class="txt-content card-content">
                        <b>Subject : </b>{{subject}}</h6>
                    <!-- <h6 class="txt-content card-content"><b>Acadmeic Year</b>:2k18-2k19</h6> -->
                </div>
                <div class="col-sm-4" style="border-left: 1px solid">
                    <h6 class="txt-content card-content">
                        <b>Exam Time : </b>{{examTime}}</h6>
                    <h6 class="txt-content card-content">
                        <b>Total Marks : </b>{{totalMarks}}</h6>
                    <!-- <h6 class="txt-content card-content"><b>Acadmeic Year</b>:2k18-2k19</h6> -->
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="row">
        <div class="col-sm-5">
            <mat-card class="list-header">
                <div class="row">
                    <div class="col-sm-8">
                            Unselected Questions ({{unselectedQuestionCount}})
                    </div>
                    <div class="col-sm-4">
                        <form style="float: right;" id="demo-2">
                            <input type="search" class="fas fa-search" placeholder="SEARCH" id="search" (keyup)="searchQuestion()" name="search" [(ngModel)]="search">
                        </form>
                    </div>
                </div>  
                <div style="height:5px;font-size:10px;color:black" *ngIf="searchingElement" class="row">
                    <div class="sm-offset-2 col-sm-8">
                        Showing Results For "{{search}}"                   
                    </div>
                </div> 
            </mat-card>
        </div>
        <div class="offset-sm-2 col-sm-5">
            <mat-card class="list-header">Added Questions ({{selectedQuestionCount}})
            <div style="height:5px;font-size:10px;color:black" *ngIf="searchingElement" class="row">
                <div class="sm-offset-2 col-sm-8">
                </div>
            </div> 
        </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="scroll" droppable [dropScope]="'selectedQuestions'" (onDrop)="onItemReturn($event)">
                <table class="table" style="padding-left:5%; ">
                    <tbody>
                        <tr *ngIf="searchArray.length == 0">
                            <td id="noQuestions" rowspan="10" colspan="2">No Result Found</td>
                        </tr>
                        <tr class="myCheckbox" *ngFor="let question of searchArray;let i = index">
                            <td>
                                <label class="myCheckbox">
                                    <input (change)="selectedQuestion(i)" [checked]="question.checked" id="{{i}}" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td style="font-size:90%">
                                <label>{{unSelectedArrayQuestionIndex+i}}.</label>
                            </td>
                            <td animated bounceOutRight draggable [dragScope]="'unselectedQuestions'" [dragData]="{ques:question,index:i}" style="font-size:90%">
                                <label *ngIf="question.ques_type === 'mcq'" for="{{i}}">{{question.text}}</label>
                                <div *ngIf="question.ques_type !== 'mcq'" [innerHTML]=question.text>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                        <ul class="pagination">
                            <li class="paginate_button previous" [ngClass]="{disabled:pageNo == 1}" id="example_previous">
                                <a style="cursor:pointer" (click)="onPrev()" aria-controls="example" data-dt-idx="0" tabindex="0">Previous</a>
                            </li>
                            <li *ngFor="let element of dummyArray;let i = index" class="paginate_button" [ngClass]="{active: pageNo == element}">
                                <a style="cursor:pointer" (click)="onPageno(element)" aria-controls="example" data-dt-idx="element" tabindex="0">{{element}}</a>
                            </li>

                            <li class="paginate_button next" id="example_next" [ngClass]="{disabled:pageNo >= totalPages}">
                                <a style="cursor:pointer" (click)="onNext()" aria-controls="example" data-dt-idx="7" tabindex="0">Next</a>
                            </li>
                        </ul>
                    </div> -->
            <div  class="center" style="margin-top:1%">
                <ul class="pagination">
                    <li [ngClass]="{disabled:pageNo == 1}" class="page-item">
                        <a class="page-link" (click)="onPrev()">Previous</a>
                    </li>
                    <li *ngFor="let element of dummyArray;let i = index" [ngClass]="{active: pageNo == element}" class="page-item">
                        <a class="page-link" (click)="onPageno(element)">{{element}}</a>
                    </li>
                    <li [ngClass]="{disabled:pageNo >= totalPages}" class="page-item">
                        <a class="page-link" (click)="onNext()">Next</a>
                    </li>
                  </ul>
              </div>
          </div>
          <!-- <mat-card class="list-header">Unselected Questions</mat-card> -->
          <div class="col-sm-2 center" style="padding-left:4%">
              <i [ngClass]="{'activemovequestion':addButtonFlag}" (click)="selected()" class="movequestion fa center fa-arrow-circle-right"></i>
              <i [ngClass]="{'activemovequestion':removeButtonFlag}" (click)="remove()" class="movequestion fa center fa-arrow-circle-left"></i>
          </div>
        <div class=" col-sm-5">
            <div class="scroll" droppable [dropScope]="'unselectedQuestions'" (onDrop)="onItemDrop($event)">
                <table class="table" style="margin-right:2%">
                    <tbody>
                        <tr class="myCheckbox" *ngFor="let question of selectedQuestions;let i = index">
                            <td>
                                <label class="myCheckbox">
                                    <input (change)="deselectQuestion(i)" class="form-check-input" id="select{{i}}" [checked]="question.checked" type="checkbox">
                                    <span></span>
                                </label>
                            </td>
                            <td style="font-size:90%">
                                <label>{{i+1}}.</label>
                            </td>
                            <td draggable [dragScope]="'selectedQuestions'" [dragData]="{ques:question,index:i}" style="font-size:90%">
                                <label *ngIf="question.ques_type === 'mcq'" for="select{{i}}">{{question.text}}</label>
                                <div *ngIf="question.ques_type !== 'mcq'" [innerHTML]=question.text>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" (click)="convertToPdf()" class="btn new-test-btn center">Convert To Pdf</button>

        </div>
      </div>
        
          
  </div>
  
</mat-sidenav-content>
</mat-sidenav-container>
