<h5 id="testDetailHeading" class="text-center">
  <span *ngIf="!questionService.editMode" >ADD</span>
  <span *ngIf="questionService.editMode">EDIT</span> TEST DETAILS
<span (click)='closeTestDetails()' style="float:right;color:#dc3545"><i class="fas fa-times"></i></span></h5>
<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group row">
      <div class="col-sm-2">
        <!-- <label for="testName" class="col-form-label">Test Name</label> -->
        <label for="defaultFormMessageModalEx">Test Name</label>
      </div>
      <div class="col-sm-10" style='padding-left:10px'>
        <input type="text" id="defaultFormMessageModalEx" #testNameValue="ngModel" name="testName" maxlength="40" [(ngModel)]="testName"
          placeholder="Test Name" class="form-control-sm form-control" style='padding-left:8px' required>
        <div *ngIf="testNameValue.errors && (f.submitted || testNameValue.touched)">
          <mat-error *ngIf="testNameValue.errors.required" class="inputError">Test name is required !</mat-error>
        </div>
        <!-- <input type="text" id="testName" class="form-control" placeholder="Test Name"> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-sm-4">
            <!-- <label for="organization" class="col-form-label">Organization</label> -->
            <label for="defaultFormNameModalEx">Organisation Name</label>
          </div>
          <div class="col">
            <!-- <input type="text" id="organization" class="form-control" placeholder="Organization Name"> -->
            <input type="text" id="defaultFormNameModalEx" #oname1="ngModel" name="oName" [(ngModel)]="oName" maxlength="40" placeholder="Organisation Name"
              class="form-control form-control-sm" required>
            <div *ngIf="oname1.errors&& (f.submitted||oname1.touched)">
              <mat-error *ngIf="oname1.errors.required" class="inputError">Organization name is required !</mat-error>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-sm-4">
            <!-- <label for="class" class="col-form-label">Class/Course</label> -->
            <label for="defaultFormEmailModalEx">Class</label>
          </div>
          <div class="col">
            <input type="text" id="defaultFormEmailModalEx" max="12" #class1="ngModel" name="class" maxlength="20" [(ngModel)]="class"
              placeholder="6" class="form-control form-control-sm" required>
            <div *ngIf="class1.errors&& (f.submitted||class1.touched)">
              <mat-error *ngIf="class1.errors.required" class="inputError">Class is required !</mat-error>
            </div>
            <!-- <input type="text" class="form-control" placeholder="6/B.Tech"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-sm-4">
            <!-- <label for="subject" class="col-form-label">Subject</label> -->
            <label for="selectCategory">Subject</label>
          </div>
          <div class="col">
            <select [disabled]="questionService.editMode" #selectedCategory name="subject" [(ngModel)]="subject" class="form-control"
              id="selectCategory" required (click)="checkSelectBox()">
              <option value="">Select Question Category</option>
              <option [value]="category" *ngFor="let category of subjectCategories">{{category}}</option>
            </select>
            <div *ngIf="selectCategory">
              <mat-error class="inputError" *ngIf="subject == '' ">Please Select a Category</mat-error>
            </div>
            <!-- <select [(ngModel)]="startYear" class="form-control" name="startYear">
                  <option [value]="year" *ngFor="let year of yearDummyArray">{{year}}</option>
                </select> -->
            <!-- <input type="text" id="organization" class="form-control" placeholder="Organization Name"> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-sm-4">
            <label for="class" class="col-form-label">Academic Year</label>
          </div>
          <div class="col-sm-8">
            <div class="row">

              <div style="padding-top: 7px" class="col-sm-2">
                <label for="startYear">From:</label>
              </div>
              <div style="padding-left: 26px;padding-right: 0;" class="col-sm-4">
                <select [(ngModel)]="startYear" class="form-control" name="startYear">
                  <option [value]="year" *ngFor="let year of yearDummyArray">{{year}}</option>
                </select>
              </div>
              <div style="padding-top: 7px;" class="col-sm-2">
                <label style="padding-left: 8px;" for="endYear">To:</label>
              </div>
              <div class="col-sm-4">
                <select [(ngModel)]="endYear" class="form-control" name="endYear">
                  <option [value]="year" *ngFor="let year of yearDummyArray">{{year}}</option>
                </select>
              </div>
            </div>
            <mat-error class="inputError" *ngIf="startYear > endYear">Start Year should be less than end year !</mat-error>  
          </div>
          <!-- <div *ngIf="acaYear1.errors&& (f.submitted||acaYear1.touched)">
                              <mat-error *ngIf="acaYear1.errors.required" class="inputError">Academic Year is required !</mat-error>
                              <mat-error *ngIf="acaYear1.errors.pattern" class="inputError">Academic Year not valid</mat-error>
                          </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-sm-4">
            <!-- <label for="organization" class="col-form-label">Time</label> -->
            <label for="defaultFormMessageModalEx">Duration</label>
          </div>
          <div class="col">
            <input max="999" type="number" min="0" oninput="validity.valid||(value='')" id="defaultFormMessageModalEx" #examTime1="ngModel" name="examTime"
              [(ngModel)]="examTime" placeholder="minutes" class="form-control-sm form-control" required>
            <div *ngIf="examTime1.errors && (f.submitted || examTime1.touched)">
              <mat-error *ngIf="examTime1.errors.required" class="inputError">Exam Time is required !</mat-error>
              <mat-error *ngIf="examTime1.errors.pattern" class="inputError">Exam Time not valid!</mat-error>
            </div>
            <!-- <input type="text" id="organization" class="form-control" placeholder="Organization Name"> -->
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <div class="col-sm-4">
            <!-- <label for="class" class="col-form-label">Total Marks</label> -->
            <label for="defaultFormMessageModalEx">Total Marks</label>
          </div>
          <div class="col">
            <input max="9999" type="number" min="0" oninput="validity.valid||(value='')" id="defaultFormMessageModalEx" #totalMarks1="ngModel" name="totalMarks"
              [(ngModel)]="totalMarks" placeholder="100" class="form-control-sm form-control" required>
            <div *ngIf="totalMarks1.errors && (f.submitted || totalMarks1.touched)">
              <mat-error *ngIf="totalMarks1.errors.required" class="inputError">Total Marks is required !</mat-error>
            </div>
            <!-- <input type="text" class="form-control" placeholder="6/B.Tech"> -->
          </div>
        </div>
      </div>
    </div>
    <div id="testDetailButtons" class="text-center">
      <button matDialogClose type="button" class="btn btn-outline-danger">Cancel</button>
      <button *ngIf="mode" type="submit" class="btn btn-primary" [disabled]="!f.valid">SAVE</button>
      <button *ngIf="!mode" type="submit" class="btn btn-primary" [disabled]="!f.valid">NEXT</button>
    </div>
  </form>
</div>