<div class="container">
  <!-- <h5>Sender Details</h5> -->
  <form (ngSubmit)="submitEmail(f)" #f="ngForm"style="padding:20px">
      <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
        <input type="email" name="emails" ngModel class="form-control" id="exampleFormControlInput1" placeholder="Name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Message</label>
        <textarea class="form-control" name="message" ngModel id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
      <div style="text-align:center">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
</div>
  
