.container{
    background: white;
}
.btn{
    width: 120px;
    padding: 4px;
    /* margin: 0 20px; */
}
.back{
    background-color: rgba(0, 0, 0, 0.418);
    left: 10;
    bottom: 10;
    /* position: fixed; */
    /* z-index: 5;   */
  }
  #test-detail{
    left: 25%;
    /* right: auto; */
    top: 70%;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: rgb(228, 229, 230);
    padding: 10px;
    padding-bottom: 50px;
  }
  .btn-primary{
    /* float: right; */
    background-color: #2db2ff;
}