<!-- <ng-flash-message></ng-flash-message> -->
<!-- <mat-spinner *ngIf="pdfLoader" class="loading"></mat-spinner> -->
<div  *ngIf="pdfLoader" class="loading"></div>
<div class="pop" *ngIf="show">
  <div class="container">
    <div class="col-sm-4">
      <div class="row">
        <div class="sentence">Are you sure you want to exit?</div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <button class="btn btn-lg" style="background-color: white;" (click)="onYes()">
            <strong style="font-size: 15px; color: rgb(46, 43, 43)">Yes</strong>
          </button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-lg" style="background-color: white;" (click)="onNo()">
            <strong style="font-size: 15px; color: rgb(46, 43, 43)">Cancel</strong>
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<div id="exampleModalPopovers" class="modal" [class.show]="enterEmailShow" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel">
  <div class="modal-dialog ui" role="document">
    <div class="modal-content ui">
      <div class="modal-header ui">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onClose()">x</button>
        <h4 class="modal-title">Please Enter the Email</h4>
      </div>
      <div class="modal-body ui">
        <form (ngSubmit)="onEmailSubmit()" #f="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Email addresses</label>
            <input [(ngModel)]="emailData.emails" required name="emails" style="width: 300px;" type="email" class="form-control" id="exampleInputEmail1"
              placeholder="Emails">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Message</label>
            <textarea [(ngModel)]="emailData.message" name="message" style="width: 300px;" type="text" class="form-control" id="exampleInputEmail1"
              placeholder="Message"></textarea>
          </div>
          <button type="submit" id="emailSubmitButton" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <header class="demo-header mdl-layout__header mdl-color--grey-200 mdl-color-text--grey-600" style="height:-12px">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title" style="font-size: 30px;">
        <b>Question Bank</b>
      </span>
      <div class="mdl-layout-spacer"></div>
      <a (click)="logout()">
        <i id="logout" title="Logout" class="fa fa-power-off"></i>
        <span id="textsize"> Logout</span>
      </a>
    </div>
  </header> -->

<!-- Main     -->
<div class="container">
  <div id="pdfView">
    <div id="test-details">
      <p style="font-size: 25px;text-align: center">{{testDetails.oName}}</p>
      <p style="font-size: 18px;text-align: center">AcademicYear : {{testDetails.acaYear}}</p>
      <p style="font-size: 18px;text-align: center">Class : {{testDetails.class}}</p>
      <p style="font-size: 18px;text-align: center">Subject : {{testDetails.subject}}</p>
    </div>
    <table>
      <tr *ngFor="let question of questions; let i=index">
        <div id="{{i}}" class="col-sm-offset-1" *ngIf="question.ques_type === 'mcq'  || question.ques_type == undefined">
          <td *ngIf="question.ques_type === 'mcq' || question.ques_type == undefined">
            <p>
              <b>{{i+1}} .</b>
              {{question.text}}</p>
            <div class="row">
              <div class="col-sm-3 option">
                <b>(a)</b> {{question.options[0]}}</div>
              <div class="col-sm-3 option">
                <b>(b)</b> {{question.options[1]}} </div>
              <div class="col-sm-3 option">
                <b>(c)</b> {{question.options[2]}}</div>
              <div class="col-sm-3 option">
                <b>(d)</b>{{question.options[3]}}</div>
            </div>
          </td>
        </div>
        <div id="{{i}}" *ngIf="question.ques_type !== 'mcq' && question.ques_type !== undefined" class="col-sm-offset-1">
          <b> ({{ i+1 }}). </b>
          <span [innerHTML]=question.text></span>
        </div>
      </tr>
    </table>

  </div>
  <div id="pdfButtons" class="text-center">
    <button class="btn btn-primary" (click)="email()">Email PDF</button>
    <button class="btn btn-danger" (click)="generatePdf()">Download PDF</button>
  </div>
</div>