/* viewer-pdf-toolbar#toolbar{
    margin-top: 50px;
} */

body{
    margin-top: 50px;
}

td{
    padding: 10px;
}



.option{
    font-size: 14px;
}

#logout{
    font-size: 150%;
  }

  #textsize{
    font-size:90%;
  }

  .pop{
    top: 25%;
    height: 150px;
    width:350px;
    right: 50%;
    margin-right: -200px;
    background-color: #37474F;
    z-index: 2;
    position: fixed;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px lightgray;
    border: 0.5px solid white;
  }
  
  .sentence{
    color: white;
    font-size: 20px;
    margin-top: 8%;
    margin-right: 16%;
    text-shadow: 1px 1px black;
  }

  #pdfButtons{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  #pdfButtons .btn{
      padding: 10px;
      margin: 20px;
  }

  .btn-primary{
    background-color: #2db2ff;
}

  .back{
    background-color: rgba(0, 0, 0, 0.418);
    left: 10;
    bottom: 20;
    position: fixed;
    z-index: 5;  
  }
  #test-detail{
    left: 25%;
    /* right: auto; */
    top: 60%;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: rgb(228, 229, 230);
    padding: 10px;
    padding-bottom: 50px;
  }

  form{
      width: fit-content;
      margin: auto;
  }

  #emailSubmitButton{
      display: block;
      margin: auto;
  }



  div#exampleModalPopovers {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7607843137254902);
  }
  
  /* modifications */
  .modal-content.ui {
    border-radius: 3px;
  }
  
    .modal-dialog.ui {
      width: 450px;
      height: 450px;
      margin: 50vh auto;
    }
  
  .modal-header.ui {
    border-bottom: none;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 0px;
  }
  
#pdfView{
    width:210mm;
    border: 2px solid black;
    margin: auto;
    min-height: 297mm;
    background-color: #fff;
    padding: 20px;
}

.container{
    margin-top: 30px ;
    margin-bottom: 30px;
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: grey;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
  background-color: rgba(189, 186, 186, 0.6);

}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}  
  
