#testDetailButtons{
    margin-top: 30px;
}

.btn{
    width: 80px;
    padding: 4px;
    margin: 0 10px;
}

.btn-primary{
    /* float: right; */
    background-color: #2db2ff;
}

h5{
    margin-bottom: 24px;
}


#testDetailHeading{
    color: gray;
}

.container{
    /* background-color: #fff; */
    margin: 10px 0;
}

form{
    padding: 30px 0;
    font-size: 14px;
}

form label{
    color: rgb(125, 128, 128);
}

.form-control{
    font-size: 12px;
    height: 30px;
}

.form-group{
    margin: 20px 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d5dadd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d5dadd;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d5dadd;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d5dadd;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #d5dadd;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #d5dadd;
}
