<div mat-dialog-content>
  <div class="container">
    <h5>Do you want to log out ?</h5>
      <div id="testDetailButtons" class="text-center">
          <button  matDialogClose type="button" class="btn btn-outline-danger">No</button>
          <button  type="submit" class="btn btn-primary" (click)="logout()" >Yes</button>
  </div>
  </div>
</div>


