<!-- <ng-flash-message></ng-flash-message> -->
<div class="container">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">
      <div class="modal-header white-text mdl-color--blue-grey-800">
        <h4 class="title" style="font-size: 160%;text-align:center">
          <i class="fa fa-pencil"></i> Log In</h4>
      </div>

      <!-- Main -->
      <div class="modal-body">

        <!-- Form -->
        <form>
          <!-- Email Input Field -->
          <div class="md-form form-sm">
            <div class="row">
               <div class="col-sm-1">
                 <i style="padding-top: 10px" class="fa fa-envelope prefix"></i>
               </div>
               <div class="col-sm-11">

                 <input [formControl]="credentialsForm.controls['email']" type="text" id="login" class="form-control" name="email" placeholder="Email">
     
                 <!-- Email Validation message -->
                 <div *ngIf="credentialsForm.controls.email.errors&& (credentialsForm.controls.email.touched)">
                     <mat-error *ngIf="credentialsForm.controls.email.errors.required" class="inputError">Email is required!</mat-error>
                     <mat-error *ngIf="credentialsForm.controls.email.errors.pattern" class="inputError" >Email is not valid!</mat-error>
                 </div>            
               </div>
            </div>
          </div>

          <!-- Password Input Field -->
          <div class="md-form form-sm" >
            <div class="row" style="padding-top:40px;">
              <div class="col-sm-1">
                <i style="padding-top: 10px" class="fa fa-lock prefix"></i>

              </div>
              <div class="col-sm-11" >
                <input [formControl]="credentialsForm.controls['password']" type="password" id="password" class="form-control" name="password" placeholder="Password">
    
                <!-- Password Validation message -->
                <div *ngIf="credentialsForm.controls.password.invalid && credentialsForm.controls.password.touched" class="inputError">
                    <mat-error *ngIf="credentialsForm.controls.password.errors.required">Password is required!</mat-error>
                </div>            
              </div>
            </div>

          </div>

          <div>
            <br>
          </div>
          <!-- Signin Button -->
          <div class="text-center mt-4 mb-2">
            <button class="btn btn-primary"  (click)="onLoginSubmit(credentialsForm.valid)" type="submit">Log In
            </button>
          </div>
        </form>

        <br>
        <p class="text-center">Not have an account?
          <a style="color: blue; cursor: pointer;" (click)="register()">Register</a>
        </p>

      </div>
    </div>
  </div>
</div>

  
