.modal-dialog.cascading-modal{
    width: 450px;
}

.modal-content{
    height:200%;
}

.modal-header.primary-color.white-text{
    background-color: orange;
}

.modal-dialog.cascading-modal{
    max-width: 450px;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
    border-bottom: 1px solid red;
}

.inputError{
    color: red;
    padding-top: 8px;
    padding-left: 6px;
    min-height: 16px;
    
}

/* .h6, h6 {
    font-size: 13px;
    font-weight: 400;
} */

/* .modal-header.white-text.mdl-color--blue-grey-800{
    margin: 0;
} */

.md-form{
    border: none;
}

/* input:focus{
    border-bottom: 2px solid red ;
} */

.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow:unset;
    border-bottom: 1px solid #37474f;
}

.md-form input[type=date]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=datetime-local]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=email]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=number]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=password]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=search-md]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=search]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=tel]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=text]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=time]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=url]:focus:not([readonly]).ng-touched.ng-invalid, .md-form textarea.md-textarea:focus:not([readonly]).ng-touched.ng-invalid{
    box-shadow: unset;
    border-bottom: 1px solid red;
}
.btn{
    width: 120px;
    padding: 4px;
    margin: 0 20px;
}

.btn-primary{
    /* float: right; */
    background-color: #2db2ff;
}
.container{
    padding-top: 10%;

}
.form-simple .font-small {
    font-size: 0.8rem; }
  
  .form-simple .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
  
  .form-simple input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f; }
  
  .form-simple input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=password]:focus:not([readonly]) + label {
    color: #4f4f4f; }