<div style="background-color:#626e73;min-height:100vh;margin-top: 0px;">
<h1>Error Page</h1>
<!-- <p class="zoom-area"><b>CSS</b> animations to make a cool 404 page. </p> -->
<section class="error-container">
  <span>4</span>
  <span><span class="screen-reader-text">0</span></span>
  <span>4</span>
</section>
<div class="link-container">
  <a (click)="onclick()" class="more-link">Visit the Login Page</a>
</div>
</div>