/* .demo-card-square.mdl-card {
    width: 22%;
    height: 100%;
    float: left;
    margin: 1.2rem;
    position: relative;
  }
  
  .demo-card-square.mdl-card:hover {
    box-shadow: 0 5px 7px 1px rgba(0, 0, 0, .14), 0 1px 10px 2px rgba(0, 0, 0, .12), 0 3px 3px -5px rgba(0, 0, 0, .2);
    background-color:#f5f5f5 !important;
  }
  
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #37474F;
  }
  
  .demo-card-square > .mdl-card__accent {
    background: #ff9800;
  }

  .btn-sm{
      padding: 0 5px 0 5px;

  }

  .btn{
      color:#37474F;
      margin-bottom: 2%;
  }

  .btn:hover{
    box-shadow: 0 10px 12px 2px rgba(0, 0, 0, .14), 0 5px 16px 5px rgba(0, 0, 0, .12), 0 6px 6px -1px rgba(0, 0, 0, .2);
      
  }

  .btn{
      border: 1.3px solid #37474F!important;
      color:#37474F!important;
  }



  a.btn-sm.btn.btn-outline-danger:active{
    border: 1.3px solid #37474F!important;
   
    
  }

  a.btn-md.btn.btn-outline-default{
      float: right;
      margin-top:2%;
      margin-right: 8%;
  }

  a.btn-md.btn.btn-outline-default:active{
    border: 1.3px solid #37474F!important;
      
  }

  #logout{
    font-size: 150%;
    margin-bottom: 2px;
  }

  #textsize{
    font-size:100%;
  }

  
  body {
    padding: 20px;
    background: #fafafa;
    position: relative;
  }

  .container{
    padding-left: 8%;
  }

  .demo-card-square.mdl-card[_ngcontent-c1]{
    width: unset;
  }

  .mdl-card.mdl-shadow--2dp.demo-card-square{
    width: unset;
  }

  h4{
    margin-left: 2%;
    margin-top: 20px;
    color:#757575 !important;
    text-shadow: 1px 1px #737373;
  }

.mdl-layout__header-row{
  min-height: unset;
  height: unset;
}

.demo-layout{
  position: relative;
}

.mdl-layout__container{
  position: unset!important;
}

#test-detail{
  left: 25%;
  top: 5%;
}



.back{
  background-color: rgba(0, 0, 0, 0.418);
  left: 0;
  bottom: 0;
  right: 0;
  top:0;
  position: fixed;
  z-index: 5;  
}


.scrollable{
  overflow: hidden;
  height: 100vh;
}

.pop{
  top: 25%;
  height: 150px;
  width:350px;
  right: 50%;
  margin-right: -200px;
  background-color: #37474F;
  z-index: 2;
  position: fixed;
  align-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px lightgray;
  border: 0.5px solid white;
}

.sentence{
  color: white;
  font-size: 20px;
  margin-top: 8%;
  margin-right: 16%;
  text-shadow: 1px 1px black;
} */



/* New css */
.new-test-btn{
  background-color: #2db2ff;
  color:white;
  border-radius: 4px;
  padding: 7px 40px;
  float: right;
  display: block;
  font-size: 14px;
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
.margin{
    margin-top:13px;
}  
.example-card:hover {

  box-shadow: 0 5px 7px 1px rgba(0, 0, 0, .14), 0 1px 10px 2px rgba(0, 0, 0, .12), 0 3px 3px -5px rgba(0, 0, 0, .2);
  background-color:#fafafa !important;
  }
.container{
    width:80%;
}  
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .txt-content{
  font-size: 12px;
}
.txt-color{
    color: #2db2ff;
     
}
.title-margin{
    margin-left: 0;
    padding-left: 0;
    color:rgb(232, 48, 48);
    font-size: 14px;

}
.card-content{
  color: grey;
}
.test:after {
  content: '\2807';
  font-size: 30px;
  color: grey;
  float: right;
}
.fas{
  padding-left: 4px;
  margin-bottom: 1px;
}


