<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="500" [direction]="'leftToRightIncreased'"
   [color]="'#bf3c44'" [trickleSpeed]="500" [thick]="false" [ease]="'linear'" [showSpinner]="false"></ng-progress>

      <div class="container" style="margin-top:20px">
     <div class="row">
       <div class="col-sm-12">
         <button (click)="openTestDetailDialogbox()" class="new-test-btn">+ NEW</button>
       </div>
     </div>  
     <div class="row">
       <div class="col-sm-3 margin" *ngFor="let pdf of pdfArray;let i =index">
           <mat-card class="example-card margin">
             <mat-card-title class="title-margin">{{pdf.testName}}</mat-card-title>
               <mat-card-content >
                 <h6 class="txt-content card-content">Class:{{pdf.class}}</h6>
                 <h6 class="txt-content card-content">Subject:{{pdf.subject}}</h6>
                 <h6 class="txt-content card-content">Acadmeic Year:{{pdf.acaYear}}</h6>
                 <hr>
               </mat-card-content>
               <div class="row">
                 <div class="offset-sm-6 col-sm-3 txt-content txt-color" style='cursor:pointer' (click)='downloadPDF(i)'>Download</div>
                 <div class="col-sm-1 txt-content txt-color" style='cursor:pointer' (click)='downloadPDF(i)'><i class="fas fa-download"></i></div>
               </div>
             </mat-card>
       </div>
     </div>
     <div class="row margin">
         <div class="col-sm-3 margin" *ngFor="let pdf of samplepdfArray;let j = index" >
             <mat-card class="example-card">
               <mat-card-title class="title-margin">{{pdf.testName}}</mat-card-title>
                 <mat-card-content >
                   <h6 class="txt-content card-content">Class:{{pdf.class}}</h6>
                   <h6 class="txt-content card-content">Subject:{{pdf.subject}}</h6>
                   <h6 class="txt-content card-content">Acadmeic Year:{{pdf.acaYear}}</h6>
                   <hr>
                 </mat-card-content>
                 <div class="row">
                   <div class="offset-sm-6 col-sm-3 txt-content txt-color" style='cursor:pointer' (click)='downloadSamplePDF(j)'>Download</div>
                   <div class="col-sm-1 txt-content txt-color" style='cursor:pointer' (click)='downloadSamplePDF(j)'><i class="fas fa-download"></i></div>
                 </div>
               </mat-card>
         </div>
       </div>
   </div>