/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* @import url("assets/style.css"); */

body{
    background-color:#f6f9fc ;
}
.mat-dialog-container{
   background-color:#f6f9fc;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


.snackbar-success{
    background: rgb(245, 255, 245);
    color: rgb(14, 119, 14);
    text-align: center;
    justify-content: center;
}

.snackbar-success > .mat-simple-snackbar{
    justify-content: center;
}

.snackbar-failure{
    text-align: center;
    background: rgb(253, 238, 238);
    color: red;
}

.snackbar-failure > .mat-simple-snackbar{
    justify-content: center;
}