.modal-dialog.cascading-modal{
    width: 450px;
}

.modal-content{
    height:200%;
}

.modal-header.primary-color.white-text{
    background-color: orange;
}

.modal-dialog.cascading-modal{
    max-width: 450px;
    width: inherit;
    margin-left: auto;
    margin-right: auto;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
    border-bottom: 1px solid red;
}

.inputError{
    color: red;
    padding-top: 8px;
    padding-left: 6px;
    min-height: 16px;
    
}

/* .h6, h6 {
    font-size: 13px;
    font-weight: 400;
} */

.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
    box-shadow:unset;
    border-bottom: 1px solid #37474f;
    border-radius: 2px;
}
.md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=email], .md-form input[type=number], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], .md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {
    border-radius: 5px;    
}

.md-form input[type=date]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=datetime-local]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=email]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=number]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=password]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=search-md]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=search]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=tel]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=text]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=time]:focus:not([readonly]).ng-touched.ng-invalid, .md-form input[type=url]:focus:not([readonly]).ng-touched.ng-invalid, .md-form textarea.md-textarea:focus:not([readonly]).ng-touched.ng-invalid{
    box-shadow: unset;
    border-bottom: 1px solid red;   
}

/* .alertify .ajs-dialog{ 
    color: #31708f;  
    background-color: #28b2f7;  
    border-color: #31708f; 
}

.alertify .ajs-movable .ajs-closable .ajs-pinnable .ajs-pulse .ajs-out .ajs-hidden .ajs-dimmer .ajs-modal .ajs-dialog
.ajs-reset .ajs-commands .ajs-pin .ajs-maximize .ajs-close .ajs-header .ajs-body .ajs-content .ajs-footer .ajs-auxiliary{
    background-color: aqua;
}  */
/* .ajs-buttons"></div><div class="ajs-primary ajs-buttons"><button class="ajs-button ajs-ok">OK</button></div></div><div class="ajs-handle"></div><button class="ajs-reset"></button></div></div></div> */

.alertify-cover{
    background-color: aqua;
}
.btn{
    width: 120px;
    padding: 4px;
    margin: 0 20px;
}

.btn-primary{
    /* float: right; */
    background-color: #2db2ff;
}
.container{
    padding-top: 10%;

}