<!-- <ng-flash-message></ng-flash-message> -->
<div class="container">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">
      <div class="modal-header white-text mdl-color--blue-grey-800">
        <h4 class="title" style="font-size: 160%">
          <i class="fa fa-pencil"></i> Register</h4>
      </div>
      <!-- Main-->
      <div class="modal-body">
        <!-- Form -->
        <form novalidate [formGroup]="credentialsForm">
          <!-- Name Input Field -->
          <div class="md-form">
            <i style="padding-top: 10px" class="fa fa-user prefix"></i>
            <input [formControl]="credentialsForm.controls['name']" type="text" id="name" class="form-control" name="name" placeholder="Name">

            <!-- Name validation message -->
            <div *ngIf="credentialsForm.controls.name.errors && (credentialsForm.controls.name.touched)">
                <mat-error *ngIf="credentialsForm.controls.name.errors.required" class="inputError">Name is required!</mat-error>
                <mat-error *ngIf="credentialsForm.controls.name.errors.pattern" class="inputError">Only alphabets are allowed, whitespaces and special characters are not allowed!</mat-error>
            </div>
          

          </div>

          <!-- Email Input Field -->
          <div class="md-form form-sm">
            <i style="padding-top: 10px" class="fa fa-envelope prefix"></i>
            <input [formControl]="credentialsForm.controls['email']" class="form-control" type="text" placeholder="Email">


            <!-- Email Validation message -->
            <div *ngIf="credentialsForm.controls.email.errors&& (credentialsForm.controls.email.touched)">
                <mat-error *ngIf="credentialsForm.controls.email.errors.required" class="inputError">Email is required!</mat-error>
                <mat-error *ngIf="credentialsForm.controls.email.errors.pattern" class="inputError" >Email is not valid!</mat-error>
            </div>        
          </div>

          <!-- Password Input Field -->
          <div class="md-form form-sm">
            <i style="padding-top: 10px" class="fa fa-lock prefix"></i>
            <input [formControl]="credentialsForm.controls['password']" class="form-control" type="password" placeholder="Password">

            <!-- Password validation message -->
            <div *ngIf="credentialsForm.controls.password.errors && (credentialsForm.controls.password.touched)">
                <mat-error *ngIf="credentialsForm.controls.password.errors.required" class="inputError">Password is required !</mat-error>
                <mat-error *ngIf="credentialsForm.controls.password.errors.pattern" class="inputError">Password should atleast have one uppercase, one lowercase, a special character, a numeric value and 7 characters long!</mat-error>     
            </div>        
          </div>
          <div class="md-form form-sm">
              <i style="padding-top: 10px" class="fa fa-lock prefix"></i>
              <input [formControl]="credentialsForm.controls['confirmPassword']" class="form-control" type="password" placeholder="Confirm Password">
            <div *ngIf="credentialsForm.controls.password.dirty">
              <mat-error class="inputError" *ngIf="checkfield().g && credentialsForm.controls.confirmPassword.dirty ">Please confirm your password!</mat-error>
              <mat-error class="inputError" *ngIf="checkfield().h ">Passwords don't match!</mat-error>  
            </div>
          </div>
        <div>

            <br>

          </div>

          <!-- Register button -->
          <div class="text-center mt-4 mb-2">
            <button class="btn btn-primary" (click)="onRegisterSubmit(credentialsForm.valid)" [disabled]="!credentialsForm.valid">Register
            </button>
          </div>
        </form>

        <br>

        <p class="text-center">Already a User?
          <a style="color: blue; cursor: pointer;" (click)="signIn()"> Sign In</a>
        </p>
      </div>
    </div>
  </div>
</div>